<p>
  <b>Source:</b>
  <%=h @status.source %>
</p>

<p>
  <b>User:</b>
  <%=h @status.user_id %>
</p>

<p>
  <b>Status:</b>
  <%=h @status.status %>
</p>

<p>
  <b>Update:</b>
  <%=h @status.update %>
</p>

<p>
  <b>Means:</b>
  <%=h @status.means %>
</p>


<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>