<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
  <title>To Rocket</title>
  <%= stylesheet_link_tag 'rocket', :media => "all"%>
  <%= javascript_include_tag :defaults %>
</head>
<body id="application">

  <div id="banner">
    <%= image_tag("rocket.png", :size => "30x30") %>
     ...
  </div>
  <div id="columns">
    <div id="side">

      <br />
      <a href="http://www....">Home</a><br />
      <a href="http://www..../faq">Questions </a><br />
      <a href="http://www..../news">News</a><br />
      <a href="http://www..../contact">Contact</a><br />

      <% if session[:user_id] %>
        <br />
        <%= link_to 'Status', :controller => 'status' %><br />
        <%= link_to 'Friends', :controller => 'friends' %><br />
        <%= link_to 'Admin', :controller => 'users' %><br />
        <%= link_to 'My Info', :controller => 'users', :action => 'edit' %><br />
        <br />
        <%= link_to 'Logout', :action => 'logout'  %>
      <% end %>
    </div>
    <div id="main">
      <% if flash[:notice] -%>
        <div id="notice"><%= flash[:notice] %></div>
      <% end -%>


      <%= yield :layout  %>
    </div>
  </div>

</body>
</html>
